Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/Makefile
data/Makefile.in
data/etc/Makefile
data/etc/Makefile.in
data/etc/compton.conf
depcomp
e-module-comptonmod.edj
e_modules-comptonmod.spec
install-sh
libtool
ltmain.sh
missing
module.desktop
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/e_mod_main.lo
src/e_mod_main.o
src/module.la
stamp-h1
