[Desktop Entry]
Type=Link
Name=ComptonMod
Name[be]=ComptonMod
Name[es]=ComptonMod
Name[it]=ComptonMod
Name[ml]=കോമ്പ്ട്ടണ്മോഡ്
Name[pl]=ComptonMod
Name[pt]=ComptonMod
Name[ru]=ComptonMod
Name[sk]=ComptonMod
Name[cs]=ComptonMod
Name[pt_BR]=ComptonMod
Icon=e-module-comptonmod
X-Enlightenment-ModuleType=look
Comment=Module to run compton compositor.
Comment[be]=Модуль для запуску кампазітнага менеджара Compton.
Comment[es]=Módulo para ejecutar el compositor Compton.
Comment[fr]=Module d'activation du compositeur Compton.
Comment[it]=Modulo di attivazione del compositore Compton.
Comment[ml]=കോമ്പ്ട്ടൺ കമ്പോസിറ്റർ പ്രവർത്തിപ്പിക്കുന്നതിനുള്ള മൊഡ്യൂൾ.
Comment[pl]=Moduł aktywacji kompozytoru Compton.
Comment[pt]=Módulo para executar o compositor Compton.
Comment[ru]=Модуль для запуска композитного менеджера Compton.
Comment[sk]=Modul na aktiváciu Compton kompositora.
Comment[cs]=Modul pro aktivaci kompozitoru Compton.
Comment[pt_BR]=Módulo para executar o compositor Compton.
