[Desktop Entry]
Type=Link
Name=ComptonMod
Name[be]=ComptonMod
Name[pt]=ComptonMod
Name[ru]=ComptonMod
Name[sk]=ComptonMod
Name[cs]=ComptonMod
Icon=e-module-comptonmod
X-Enlightenment-ModuleType=look
Comment=Module to run compton compositor
Comment[be]=Модуль для запуску кампазітнага менеджара Compton
Comment[fr]=Module d'activation du compositeur Compton.
Comment[pt]=Módulo para executar o compositor Compton.
Comment[ru]=Модуль для запуска композитного менеджера Compton
Comment[sk]=Modul na aktiváciu Compton kompositora
Comment[cs]=Modul pro aktivaci kompozitoru Compton
